<html>
<body>
<head>
<script src="../angular.min.js"></script>
<script src="app.js"></script>
<body ng-app="myapp">

<div ng-controller="myController">
Hide salary<input type="checkbox" ng-model="hidesal">
<table border='1'>

<tr>
<td>Serial</td>
<td>Name</td>
<td>Gender</td>
<td>Date Of Birth</td>
<td ng-hide="hidesal">Salary(number)</td>
<td ng-show="hidesal">Salary(number)</td>
</tr>

<tr ng-repeat="emp1 in emp|filter:textsearch">
<td>{{$index+1}}</td>
<td>{{emp1.name}}</td>
<td>{{emp1.dob|date:"yyyy-MM-dd"}}</td>
<td>{{emp1.gender|uppercase}}</td>
<td ng-hide="hidesal">{{emp1.salary|number:"2"}}</td>
<td ng-show="hidesal">*****</td>
</table>
</div>

</body>
</head>
</body>
</html>
