#main
{
	width:750px;
	height:auto;
	
}
#header
{
	width:auto;
	height:70px;
	background:rgba(128, 128, 128, 0.64);
	text-align:center;
	font-size:27px;
	
}

#links
{
	height:300px;
	float:left;
	width:20%;
	background:rgba(152, 140, 140, 0.56);
}
#content
{
	width:80%;
	float:left;
	background:rgba(194, 197, 194, 0.68);
	height:300px;
}

#footer
{
	clear:both;
	width:auto;
	height:30px;
	background:#C7C7C1;
	text-align:center;
}