<html>
<body>
<head>
<script src="../angular.min.js"></script>
<script src="app.js"></script>
<body ng-app="myapp">

<div ng-controller="myController">
<input type="text" placeholder="search by name" ng-model="textsearch.name">
<input type="text" placeholder="search by salary" ng-model="textsearch.salary">
Exact match<input type="checkbox" ng-model="exactmatch">
<table border='1'>

<tr>
<td>Serial</td>
<td>Name</td>
<td>Gender</td>
<td>Date Of Birth</td>
<td>Salary(number)</td>
</tr>

<tr ng-repeat="emp1 in emp|filter:textsearch:exactmatch">
<td>{{$index+1}}</td>
<td>{{emp1.name}}</td>
<td>{{emp1.dob|date:"yyyy-MM-dd"}}</td>
<td>{{emp1.gender|uppercase}}</td>
<td>{{emp1.salary|number:"2"}}</td>
</table>
</div>

</body>
</head>
</body>
</html>
